
<!-- Three columns of text below the intro -->
  <div class="row">
  
    
    <div class="col-sm-12 triplet-container">

      <h1>Cobudget is perfect for teams, startups, and mission driven organizations.</h1>
      <div class="col-sm-4 text-center triplet-item">
        <img class="triplet-image" src="../img/idea.png">
        <p class="triplet-quote">"Cobudget has profoundly changed the way we think about strategy and finance at Enspiral. Our operational cots have dropped by over 80%, and in turn generated innovations none of us could have imagined alone."</p>
        <p class="triplet-attribution">-Alanna Krause, Social Entreprenuer</p>

      </div>


      <div class="col-sm-4 text-center triplet-item">
        <img class="triplet-image" src="../img/businessmen3.png">
        <p class="triplet-quote">Cobudget is the most efficient way to plan our budget. When we include more people in financial decisions, everybody wins.</p>
        <p class="triplet-attribution">-Charlie, Project Manager</p>
      </div>


      <div class="col-sm-4 text-center triplet-item">
        <img class="triplet-image" src="../img/heart.png">
        <p class="triplet-quote">Cobudget has increased the velocity of our decision making markedly and made communicating about our finances much more engaging and transparent. </p>
        <p class="triplet-attribution">-Jessy Doud, Start Up Founder</p>
      </div>

    </div>
  </div><!-- /.row -->
  
