
  <!-- Three columns of text below the intro -->
  <div class="row ipad-section">
    <div class="col-sm-5 ipad-text pull-left">
      <h1>Co-create a smarter, faster budget.</h1>
      <p>With typical budgeting methods, it's difficult and expensive to get people involved in the financial decisions and strategies that guide and inform their work. Cobudget makes it faster, easier and more fun for your people to participate in group financial decision making.</p>

      <h2>ONE APP, ALL DEVICES</h2>
      <p>Our easy-to-use online platform allows everyone to get involved, wherever they are</p>

    </div>


    <img class="ipad-image pull-right" src="img/ipad-maybe.png">
  </div><!-- /.row -->
	
