<div class="container">
  <div class="row ipad-section">
    <div class="col-sm-5 ipad-text pull-left">
      <h1>Put great ideas to work.</h1>
      <p>Cobudget makes it easy, engaging and fun to create and fund great ideas with groups who have a shared purpose.</p>

      <div class="devices-section">
        <img class="devices" src="img/devices.png">
        <h2>ONE APP, ALL DEVICES</h2>
        <p>Our easy-to-use online platform allows everyone to get involved, wherever they are</p>
      </div>

    </div>

    <img class="ipad-image pull-right" src="img/grouppagewithphone.png">
  </div>
</div>