<div class="page" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {{> intro}}

  <div class="container marketing">
    {{> marketing_triplet}}		
  </div>

  {{> ipad}}
  
  <div class="container marketing">
    {{> story}}   
  </div>

  {{> footer}}
</div>
