<div class="page" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
      {{> intro}}
              
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
              {{> marketing_triplet}}		
  </div>

  {{> ipad}}


  <div class="container marketing">
    {{> story}}   
      </div><!-- /.container -->

  {{> footer}}
</div>
