<!-- Three columns of text below the intro -->
<div class="row" id="how">

  <div class="col-sm-12 triplet-container">

    <h1>A new way to create with your crowd</h1>
    <div class="ideate col-sm-3 text-center triplet-item">
      <img class="triplet-image" src="img/idea.png">
      <h2>IDEATE</h2>
      <p class="triplet-text">Create ideas and get feedback to improve them. Help develop ideas proposed by others.</p>
    </div>

    <hr class="col-sm-1 " />

    <div class="col-sm-3 text-center triplet-item">
      <img class="triplet-image" src="img/heart.png">
      <h2>SUPPORT</h2>
      <p class="triplet-text">Fund the buckets you want to support, and stay in the loop with their progress.</p>
    </div>

    <hr class="col-sm-1" />

    <div class="col-sm-3 text-center triplet-item">
      <img class="triplet-image" src="img/dollar116.png">
      <h2>MEASURE</h2>
      <p class="triplet-text">Gather data about the group’s progress with interactive data visualisations.</p>
    </div>

  </div>
</div><!-- /.row -->