	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">
					<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
									<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand page-scroll" href="#page-top">
									<img src="../img/Cobudget-Logo-Dark.png">
							</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
							<ul class="nav navbar-nav">
									<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
									<li class="hidden">
											<a href="#page-top"></a>
									</li>
									<li>
											<a class="page-scroll" href="#how">How</a>
									</li>
									<li>
											<a class="page-scroll" href="#why">Why</a>
									</li>
									<li>
											<a class="page-scroll" href="#story">Story</a>
									</li>
									<li>
                    <div id="mc_embed_signup" class="sign-up text-center nav-invite-button">
                      <form action="//enspiral.us9.list-manage.com/subscribe/post?u=786f3f6fad72a72ce6af7e396&amp;id=a75d96d881" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <input class="nav-invite-button" type="submit" value="Invite me!" name="subscribe" id="mc-embedded-subscribe" >
                      </form>
                    </div>
									</li>
							</ul>
					</div>
					<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
	</nav>
