	
	<!-- Three columns of text below the intro -->
  <div class="row quote">
		
    <h3 class="why-paragraph text-center">
      “The greatest compliment that was ever paid me was when one asked me what I thought, and attended to my answer.” 
      <br />
      <br />
      — Henry David Thoreau
    </h3>
		
  </div><!-- /.row -->

