<div class="container">
  <div class="row story">
    
    <h2 class="story-title">
      The Story of Cobudget
    </h2>

    <p class="story-paragraph">
      Cobudget is made by <a href="enspiral.com">Enspiral</a>. We wanted to simplify and democratize our financial decisions, while making them more fun and engaging. So we made Cobudget
    </p>

    <img class="img-responsive" src="img/enspiral.png" />

  </div>
</div>