	
	<!-- Three columns of text below the intro -->
  <div class="row story">
		
    <div class="col-md-6 pull-left left-side" >
  		<h2 class="story-title pull-left">
  			The Story of Cobudget
  		</h2>


      <p class="story-paragraph">
        Cobudget is a cooperative social enterprise incubated within Enspiral, the social enterprise network responsible for Loomio. We wondered       if we could simplify and democratize our collective budget (13 social enterprises) while making it more fun and engaging.       The result is Cobudget, a collaborative funding tool that allows groups of any size to transparently manage shared             budgets.
      </p>
    </div>

    <div class="col-md-6 pull-right right-side" >
      <img class="img-responsive" src="img/enspiral.png" />
    </div>
		
  </div><!-- /.row -->

