	
	<!-- Three columns of text below the intro -->
  <div class="row why">
		
		<h2 class="why-title text-center">
			Why Cobudget?
		</h2>
		
    <p class="why-paragraph text-center">
      With typical budgeting methods, it's difficult and expensive to get people involved in the fincancial decisions and 					strategies that guide and inform their work.
    </p>
		
  </div><!-- /.row -->

